[submodule ".tmuxplugins/tmux-resurrect"]
	path = .tmuxplugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".vim/bundle/Nvim-R"]
	path = .vim/bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
